body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  flex-direction: column;
  width: 40%;
}

/* Accordion */

.accordion {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  border: none;
  padding: 1em 4em;
  margin-top: 1em;
}

.accordion img {
  opacity: 50%;
  width: 1.5em;
  height: 1em;
}

.active, .accordion:hover {
  background-color: #ccc;
}

/* Pizza Form */

.addPizza {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em 3em 2em 3em;
  margin: 0 0 2em 0;
}

.title {
  display: block;
}

input[type=text], select, input[type=number], select {
  width: 100%;
  padding: 1em 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
}

.error {
  display: none;
  color: orangered;
  font-weight: bold;
  margin-bottom: 1em;
}

.radios {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 0.9em;
}

.toppingsCheckbox {
  font-size: 0.9em;
  flex-wrap: wrap;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.pizzaImages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.pizzaImages img {
  height: 100px;
  border-radius: 0.5em;
  width: 100px;
}

.btn {
  background-color: orangered;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  margin: 0.25em 0.1em;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}

/* Pizza Element */

.pizzaElement {
  border-radius: 0.25em;
  display: flex;
  margin: 2em 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-wrap: wrap;
  padding: 3em;
  justify-content: space-between;
}

.elementImg img {
  width: 200px;
  height: 200px;
  border-radius: 1em;
}

.elementInfo {
  height: 200px;
  width: 50%;
}

.elementInfo h2 {
  color: orangered;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 3px;
  margin-top: 0;
  border-bottom: solid orangered 2px;
}

.chilli {
  height: 32px;
  width: 32px;
}

.elementInfo h3 {
  background-color: orangered;
  color: white;
  display: inline-block;
  border-radius: 0.25em;
  padding: 0.25em 1em;
}

.btnDelete {
  height: 2em;
  cursor: pointer;
  border-radius: 0.5em;
  border: none;
  color: white;
  font-weight: bold;
  background-color: orangered;
  width: 2em;
}

.btnDelete:hover {
  border: solid gainsboro 1px;
}